@use "variables";
header {
  //start / end values
  grid-column: 1 / -1;
  position: sticky;
  top: 0;
  z-index: 2;
  nav {
    padding: 1rem;
    display: flex;
    align-items: center;
    background: variables.$white;
    ul {
      position: fixed;
      background: variables.$white;
      margin: 0;
      top: 73px;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 2;
      opacity: 0;
      transition: 0.8s ease all;
      padding: 1rem;
      visibility: hidden;
      height: calc(100vh - 76px);
      text-align: left;
      &.active {
        opacity: 1;
        transform: translateY(0px);
        visibility: visible;
      }

      li {
        padding: 1.25rem 0;
        a {
          color: variables.$primary;
          font-size: 2rem;
          font-family: sans-serif;
        }
      }
    }
  }
}

.headline-main + .active {
  color: variables.$white;
}
#main_nav {
  display: grid;
}

#menu_container {
  grid-column: 3 / span 8;
  align-self: center;
}

#hamburger_toggle {
  display: inline-block;
  border: none;
  background: none;
  margin-right: 1.25rem;
}

#hamburger_menu {
  width: 40px;
  height: 40px;
  position: relative;
  div {
    width: 100%;
    height: 1px;
    background-color: #173f35;
    position: absolute;
    left: 0;
    transition: transform 0.3s;
  }
  &.active {
    #top {
      transform: rotate(45deg) translate(3px, 2px);
    }
    #bottom {
      transform: rotate(-45deg) translate(3px, -3px);
    }
  }
  #top {
    top: 40%;
  }
  #bottom {
    top: 60%;
  }
}

#main_bkg {
  background-image: url("../img/grilled_platter-min.jpg");
  height: calc(100vh - 200px);
}

@media screen and (min-width: 992px) {
  #hamburger_toggle,
  #close_btn {
    display: none;
  }

  header {
    nav {
      display: block;
      padding: 2rem;
      ul {
        display: inline-block;
        position: unset;
        top: unset;
        left: unset;
        right: unset;
        bottom: unset;
        margin: unset;
        padding: unset;
        height: unset;
        z-index: unset;
        background: unset;
        text-align: unset;
        visibility: visible;
        opacity: 1;
        li {
          display: inline-block;
          padding: 0;
          margin-left: 1rem;
          a {
            color: variables.$primary;
            font-size: 1rem;
            &:hover {
              color: variables.$tertiary;
            }
          }
        }
      }
    }
  }

  #main_nav {
    display: inline-block;
  }
}
