@use "variables";
@import "components";
@import "typography";
@import "header";
@import "locations";
@import "pearlsathome";
@import "images";
@import "footer";

body {
  display: grid;
  // grid-template-columns: repeat(12,1fr);
  // grid-template-rows: min-content auto min-content;
  grid-template: min-content auto min-content / repeat(12, 1fr);
  font-size: 16px;
  color: variables.$primary;
  margin: 0;
  font-family: sans-serif;
}
* {
  box-sizing: border-box;
}
a,
select,
button {
  cursor: pointer;
}

.scroll-lock {
  overflow-y: hidden;
  //for ios
  position: fixed;
}
a {
  text-decoration: none;
  color: variables.$primary;
}
ul {
  list-style: none;
}

*:focus {
  -webkit-box-shadow: 0px 0px 5px 2px rgb(0 51 73 / 90%);
  -moz-box-shadow: 0px 0px 5px 2px rgb(0 51 73 / 90%);
  box-shadow: 0px 0px 5px 2px rgb(0 51 73 / 90%);
  outline: none;
}
.bkg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}
main {
  grid-column: 1 / -1;
}

section {
  margin: 0 1rem 5rem;
  &#banner,
  &#main_bkg {
    margin: 0 0 4rem;
  }
}

figure {
  margin: 0rem 0 3.5rem;
  &:last-child {
    margin: 0;
  }
  img {
    width: 100%;
  }
  figcaption {
    margin-top: 1rem;
    font-weight: bold;
  }
}

#updates_container {
  margin-bottom: 2rem;
}

#notable_container {
  margin-bottom: 3rem;
}

#bottom_bar {
  background-color: variables.$bar_colour;
  height: 96px;
  grid-column: 1 / -1;
  margin-top: 1rem;
}
@media screen and (min-width: 630px) {
  #notable_images {
    display: grid;
    grid-template: min-content auto min-content / repeat(12, 1fr);
    gap: 0 1em;
    figure {
      &:first-of-type {
        grid-column: span 12;
      }
      grid-column: span 6;
    }
  }
}

@media screen and (min-width: 800px) {
  #updates-section {
    display: grid;
    grid-template: min-content auto min-content/repeat(12, 1fr);
    gap: 0 1em;
    > * {
      grid-column: span 4;
    }
    .title {
      font-size: 4rem;
      line-height: 4rem;
    }
    #updates_container {
      align-self: center;
      margin-bottom: 0;
    }
    figure {
      figcaption {
        text-align: unset;
      }
    }
  }

  #blog-section figure {
    display: grid;
    grid-template: min-content auto min-content/repeat(12, 1fr);
    gap: 0em 3rem;
    > * {
      grid-column: span 6;
    }
    figcaption {
      text-align: left;
      align-self: center;
    }
    #blog_container {
      width: 216px;
      margin: 0px auto 0 2rem;
      .title {
        line-height: 3rem;
        font-size: 3rem;
      }
    }
  }

  #notable-section {
    #notable_container {
      display: grid;
      grid-template: min-content auto min-content / repeat(12, 1fr);
      gap: 0 1rem;
      margin-bottom: 6rem;
      align-items: center;
      > * {
        grid-column: span 6;
      }
    }
  }
  #notable_images {
    gap: 1em;
    figure {
      &:first-of-type {
        grid-column: span 4;
      }
      grid-column: span 4;
      figcaption {
        font-size: 1.2rem;
      }
    }
    .bkg {
      margin-bottom: 1rem;
    }
  }

  figure {
    margin: 0;
    figcaption {
      margin: 0;
      text-align: center;
    }
  }
}

@media screen and (min-width: 992px) {
  #updates-section {
    .title {
      font-size: 5rem;
      line-height: 5rem;
    }
  }

  #blog-section figure {
    gap: 0em 5rem;
  }

  section {
    margin: 0 1rem 10rem;
    &#banner,
    &#main_bkg {
      margin: 0 0 10rem;
    }
  }
  #banner {
    height: 634px;
  }
  #updates_container {
    width: 300px;
  }
}

@media screen and (min-width: 1100px) {
  #blog-section figure {
    #blog_container {
      width: 516px;
      .paragraph {
        font-size: 1.3rem;
        line-height: 1.5rem;
      }
    }
  }

  section {
    margin: 0 7rem 10rem;
  }
}

@media screen and (min-width: 1400px) {
  #notable-section {
    #notable_container {
      gap: 0 7rem;
      margin-bottom: 6rem;
      .headline-secondary {
        font-size: 6rem;
      }
      .secondary-blurb {
        font-size: 1.6rem;
        margin: 0;
        text-align: left;
        line-height: 2.2rem;
      }
    }
  }
}
