@import 'typography';
@import 'header';

body {
    display:grid;
    grid-template-rows: 700px 1fr 1fr;
    font-size: 16px;
    margin: 0;
}

.scroll-lock {
    overflow: hidden;
}

.close {
position: absolute;
right: 32px;
top: 32px;
width: 32px;
height: 32px;
opacity: 0.3;
}
.close:hover {
opacity: 1;
}
.close:before, .close:after {
position: absolute;
left: 15px;
content: ' ';
height: 33px;
width: 2px;
background-color: #fff;
}
.close:before {
transform: rotate(45deg);
}
.close:after {
transform: rotate(-45deg);
}
  
main {

}

footer {

}

@media screen and (min-width:992px){
    
}