@use 'variables';
@import 'components';
@import 'typography';
@import 'header';
@import 'images';
@import 'footer';

body {
    display:grid;
    // grid-template-columns: repeat(12,1fr);
    // grid-template-rows: min-content auto min-content;
    grid-template: min-content auto min-content / repeat(12, 1fr);
    font-size: 16px;
    color: variables.$primary;
    margin: 0;
    font-family: sans-serif;
}

.scroll-lock {
    overflow-y: hidden;
}

ul {
    list-style: none;
    li {
        a {
            text-decoration: none;
        }
    }
}

*:focus {
    -webkit-box-shadow:0px 0px 5px 2px rgb(0  51  73 / 90%);
    -moz-box-shadow: 0px 0px 5px 2px rgb(0  51  73 / 90%);
    box-shadow: 0px 0px 5px 2px rgb(0  51  73 / 90%);
    outline: none;
}
.bkg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}
main {
    grid-column: 1 / -1;
}

section {
    margin:0  1rem 5rem;
    &#banner, &#main_bkg {
        margin: 0 0 5rem;
    }
}

figure {
    margin: 1rem 0 1.5rem;
    img {
        width: 100%;
    }
    figcaption {
        margin-top: 1rem;
        font-weight: bold;
    }
}


@media screen and (min-width:630px){
    #notable_images {
        display: grid;
        grid-template: min-content auto min-content / repeat(12, 1fr);
        gap: 0 1em;
        figure {
            &:first-of-type {
                grid-column: span 12;
            }
            grid-column: span 6;
        }
    }
}

@media screen and (min-width:800px){
    #updates-section {
        display: grid;
        grid-template: min-content auto min-content/repeat(12, 1fr);
        gap: 0 1em;
        > * {
            grid-column: span 4;
        }
        .title {
            font-size: 4rem;
            line-height: 4rem;
        }
        #updates_container {
            align-self: center;
        }
    }

    #blog-section figure{
        display: grid;
        grid-template: min-content auto min-content/repeat(12, 1fr);
        gap: 0em 3rem;
        > * {
            grid-column: span 6;
        }
        figcaption {
            text-align: left;
            align-self: center;
        }
        #blog_container {
            width: 216px;
            margin: 0px auto 0 2rem;
            .title {
                line-height: 3rem;
                font-size: 3rem;
            }
        }
    }

    #notable_images {
        gap: 1em;
        figure {
            &:first-of-type {
                grid-column: span 4;
            }
            grid-column: span 4;
        }
    }

    figure {
        margin: 0;
        figcaption {
            margin: 0;
            text-align: center;
        }
    }
}

@media screen and (min-width:992px){
    #updates-section {
        .title {
            font-size: 5rem;
            line-height: 5rem;
        }
    }

    #blog-section figure {
        gap: 0em 5rem;
    }
}

@media screen and (min-width:1100px){
    #blog-section figure {
        #blog_container {
            width: 416px;
        }
    }
}