#homeImage.bkg {
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
  p {
    color: white;
    width: 400px;
    font-size: 2rem;
    line-height: 2.7rem;
    margin: 0;
  }
}

#products-section h2 {
  padding: 1rem;
}
#product-wrapper {
  display: flex;
  flex-wrap: wrap;
  figure {
    padding: 1rem;
  }
}

@media screen and (min-width: 992px) {
  #product-wrapper {
    figure {
      width: 33.33%;
    }
  }
}
